body {
  margin: 15px !important;
  color: #2f323a;
}

@font-face {
  font-family: "karmilla-regular";
  src: url("/fonts/Karmilla-Regular-015.ttf");
}

form button, form label, .node {
  font-family: "karmilla-regular", sans-serif;
}

.node {
  cursor: default;
  fill: #2f323a;
}

.node-wpt, .node-loc {
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #989dad;
  stroke-width: 1px;
}

.hidden {
  display: none;
}

.alert {
  color: #f01715;
}

.warn {
  color: #ff7800;
}

.opaque {
  opacity: 0.4;
}

input:disabled+label {
  color: #848484
}

#filter {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
}

#graph {
  padding-top: 15px;
  margin-top: 1.2cm;
}
