@font-face {
  font-family: "karmilla-regular";
  src: url("/fonts/Karmilla-Regular-015.ttf");
}

body {
  font-family: "karmilla-regular", sans-serif;
  margin: 15px !important;
  color: #2f323a;
}

.btn.active {
  background: #00e;
  border-color: #3732f5;
}

.btn.active:hover {
  color: #fff;
}

.btn:hover {
  border-color: #00e;
  color: #00e;
}

.btn {
  border: .05rem solid #3732f5;
  color: #3732f5;
}

.node {
  cursor: default;
  fill: #2f323a;
}

.node-wpt, .node-loc {
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #989dad;
  stroke-width: 1px;
}

.hidden {
  display: none;
}

.alert {
  color: #f01715;
}

.warn {
  color: #ff7800;
}

.opaque {
  opacity: 0.4;
}

label input[type=checkbox] {
  display: none;
}

#header {
  display: flex;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  padding-bottom: 0px;
}

#filter {
  margin-left: auto;
}

#graph {
  padding-top: 15px;
  margin-top: 1.2cm;
}
